* {
    margin: 0;
    padding: 0;
}

:root {
    --white: rgb(250,250,250);
    --gray-dark: rgb(40,40,40);

    --trnsp-dark: rgba(40, 40, 40, 0.3);
    --trnsp-light: rgba(250, 250, 250, 0.3);

    --bg: var(--white);
    --dark: var(--gray-dark);

    --text-light: var(--white);

    --font: 'Courier New', Courier, monospace;

    --shadow: 0.1rem 0 0.5rem 0 var(--trnsp-dark);

    --main-w: 70%;
    --header-h: 3.5rem;
}