@import './base.css';

header {

    width: 100vw;
    height: var(--header-h);

    display: grid;
    grid-template-areas: 'btn-menu title spprt';
    grid-template-columns: var(--header-h) 1fr var(--header-h);
    place-items: center;

    position: fixed;

    z-index: 100;
}

button.menu {
    grid-area: btn-menu;
}

header > h1 {
    grid-area: title;
    background: var(--dark);
    color: var(--text-light);

    font-family: var(--font);

    height: var(--header-h);

    padding-inline: 1rem;
    display: grid;
    place-items: center;

    /* position: fixed;
    top: 0; */
}

div.supportive {
    grid-area: spprt;
}