@import './base.css';

aside.menu {
    transform: translateX(calc(-1 * var(--menu-w)));

    height: 100%;
    width: calc(100% + var(--menu-w));

    position: fixed;

    top: 0;
    left: 0;

    pointer-events: none;
}

aside.menu menu {
    background: var(--trnsp-light);
    backdrop-filter: var(--blur);

    height: 100%;
    width: 100%;

    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% var(--header-h),
        var(--menu-w) var(--header-h),
        var(--menu-w) 100%,
        0% 100%
    );
    pointer-events: visiblePainted;
}

aside.menu::before {
    content: '';

    box-shadow: inset var(--shadow-down);

    height: calc(100% - var(--header-h));
    width: calc(100% - var(--menu-w));

    position: absolute;

    bottom: 0;
    right: 0;
}